a {
    text-decoration: none;
}
header{
    background-color: black;
    color: wheat;
    padding: 5px;
}
header nav{
    text-align: right;

}
header a{
    margin-top: 20px;
    color: wheat;
    margin-left: 15px;
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Castoro', serif;
}
header nav a:hover{
    background:  rgb(134, 103, 44);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.9);
}
.udv{
    background-color: rgb(36, 36, 36);
    text-align: center;
    color: wheat;
    padding-top: 389px;
    padding-bottom: 389px;
}
.udv #welcometext{
    font-size: 35px;
    font-weight: bold;
}
.udv #kivansag{
    font-size: 25px;
}

.box{
    background: #000000;
    padding: 20px;
    color: wheat;
    text-align: justify;
    margin-top: 20px;
    height: 500px;
    border-radius: 1%;
}

.box h3{
    text-align: center;
    margin: 10px;
}

.box img{
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box .text{
    text-align: justify;
}

.box p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    font-size: 16px;
}

html{
    background-color: rgb(36, 36, 36);
}

@media (max-width: 576px){
    header h2, header nav a{
        text-align: center;
        display: block;
        color: wheat;
    }
    header h2{
        font-size: 15px;
    }
    header nav a {
        font-size: 10.8px;
    }
}
