/*Fejléc*/
a {
    text-decoration: none;
}
header{
    background-color: black;
    color: wheat;
    padding: 5px;
}
header nav{
    text-align: right;

}
header a{
    margin-top: 20px;
    color: wheat;
    margin-left: 15px;
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Castoro', serif;
}
header nav a:hover{
    background:  rgb(134, 103, 44);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.9);
}
.udv{
    background-color: rgb(36, 36, 36);
    text-align: center;
    color: wheat;
    padding-top: 389px;
    padding-bottom: 389px;
}
.udv #welcometext{
    font-size: 35px;
    font-weight: bold;
}
.udv #kivansag{
    font-size: 25px;
}
/*Garden & Restaurant*/
.box{
    background: #000000;
    padding: 20px;
    color: wheat;
    text-align: justify;
    margin-top: 20px;
    height: 500px;
    border-radius: 1%;
}

.box h3{
    text-align: center;
    margin: 10px;
}

.box img{
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box .text{
    text-align: justify;
    font-size: 17px;
}

.box p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    font-size: 16px;
}

html{
    background-color: rgb(36, 36, 36);
}

/*Foglalások*/
.ar p{
    text-align: center;
    color: wheat;
    font-size: 25px;
    padding-top: 25px;
}
.egesz{
    background-color: rgb(36, 36, 36);
    width: 500px;
    height: 700px;
}
.egesz .texts {
    width: 50%;
    height: 100%;
    background-color: inherit;
    float: left;
    text-align: left;
    font-size: 20px;
    color: wheat;
    margin-top: 40px;
}
.egesz p{
    padding: 45px 15px;
}
.egesz input{
    margin-left: 15px;
    padding: 10px 10px;
}

.egesz #napok{
    margin-left: 5px;
    padding: 10px 10px;
    color: rgb(255, 211, 129);
    font-weight: bold;
}

.egesz .masik p{

    padding: 45px 15px;
}

.egesz .masik{
    width: 50%;
    height: 100%;
    background-color: inherit;
    float: left;
    margin-top: 40px;
    color: wheat;
    font-size: 20px;
    text-align: center;
}
.egesz .masik .bbb{
    color: wheat;
    font-size: 20px;
    margin-left: 5px;
    margin-top: -5px;
    padding-left: 15px;
    background:none;
    border:none;
    margin:0;
    padding:0;
    outline: 0;
}
.egesz .masik #abszolutvegeosszeg{
    color: rgb(255, 211, 129);
    font-weight: bold;
    margin-top: 15px;
}
.egesz .masik #kerdes{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.egesz .masik .keretnelkul{
    border: none;
    outline: none;
    width: 100px;
    margin-left: auto;
    margin-right: auto;

}
/*Igen, Nem foglalásnál*/
.box2 {
    width: 40%;
    margin: 0 auto;
    background: inherit;
    padding: 35px;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: wheat;
    border: 4px solid #030303;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  .button:hover {
    background: #000000;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(36, 36, 36);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    margin: 70px auto;
    padding: 20px;
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup .close {
    position: absolute;
    top: 15px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .popup .close:hover {
    color: #000000;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
/*Szolgáltatások*/
.szolg p{
    text-align: center;
    margin-top: 40px;
    color: wheat;
    font-size: 30px;
}
.listas{
    margin-top: 40px;
    height: 550px;
    width: 600px;
    background-color: inherit;
}
.listas .pontok{
    width: 50%;
    height: 100%;
    background-color: inherit;
    float: left;
}
.listas .kep{
    width: 50%;
    height: 100%;
    background-color: inherit;
    float: left;
}
.listas ul{
    padding: 10px 50px;
    color: wheat;
    font-size: 20px;
}
.listas li{
    padding: 14px 10px;
}
.listas img{
    margin-left: 15%;
    margin-top: 25%;
    border-radius: 2%;
}
/*Galéria*/
.kepnezegetmain{
    margin-top: 25px;
    text-align: center;
    color: wheat;
    font-size: 25px;
    margin-bottom: 25px;
    background-color: rgb(36, 36, 36);
}

.slideshow-container {
    width: 500px;
    position: relative;
    margin: auto;
  }
.slideshow-container img {
    border-radius: 2%;
}

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    margin-right: 15px;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

/*Responsivity*/
@media(max-width: 1200px){
    header h2, header nav a{
        text-align: center;
        color: wheat;
        padding-right: 50px;
    }
    .udv #welcometext{
        font-size: 33px;
    }
    .box2 .button{
        margin-top: 25px;
        overflow: hidden;
    }
}
@media(max-width: 992px){
    header h2, header nav a{
        text-align: center;
        display: block;
        color: wheat;
    }
    header h2{
        font-size: 25px;
    }
    header nav a {
        font-size: 20px;
    }
    header a{
        padding: 5px 12px;
    }
    .box p{
        font-size: 18px;
        font-family: 'Castoro', serif;
    }
    .box2 .button{
        margin-top: 25px;
        color: rgb(255, 255, 255);
    }
    
}
